td{
    border: solid black 2px;
    font-size: 36pt;
    font-family:monospace;
    background-color: lavender;
    font-weight:bold;
    padding: 10px 20px;
    border-radius: 20px;
    
}

button{
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    font-size: 18pt;
    
}