.golContain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #2196F3;
        padding: 10px;
}

.golCell{
    background-color: #FF0000;
}

.alive{
    background-color: orange; 
}

.dead{
    background-color: blue;
}
