
#forward-button{
    background-color: yellowgreen;
    width: 200px;
    height: 40px;
}

#backward-button{
    background-color: orangered;
    width: 200px;
    height: 40px;
}

#num-generated{
    background-color: greenyellow;
}
.empty-cell{
    background-color: lightseagreen;
    width: 20px;
    height: 20px;
    border: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;

    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    
}

.easy{
    background-color: lightgreen;
    width: 70px;
}

.medium{
    background-color: gold;
    width: 70px;
}

.hard{
    background-color: red;
    width: 70px;
}